button {
	border:none;
}

label {
	font-weight: bold;
}

.first_site, .second_site {
	width:200px;
}

.first_site label {
	color:yellowgreen;
}

.second_site label {
	color:plum;
}

.date_input input {
	width:160px;
}

.date_input label, .flag_input label {
	color:teal;
	font-weight: bold;
}

.flag_input input {
	width:20px;
}

.custom_button button.bk-bs-btn.bk-bs-btn-default {
	background-color: lightblue;
	font-weight: bold;
	color:navy;
}

// if the side_box css is set like below, the width of 'main_grid' must be adujset in scripts.js
//.side_box {
	//margin-left:15px;
	//padding-right: 20px;
	//border:2px solid lightblue;
	//border-radius: 25px;
//}

.hover_bar, .bk-tooltip>div:not(:first-child) {
	display:none;
}

.side_box_row {
	margin:auto;
}

.notes_div>div {
	padding: 0px 20px 20px 20px;
}