button {
	border:none;
}

.first_site label {
	color:yellowgreen;
	font-weight: bold;
}

.second_site label {
	color:plum;
	font-weight: bold;
}

.date_input input {
	width:160px;
}

.date_input label {
	color:teal;
	font-weight: bold;
}

.flag_input input {
	width:20px;
}

.flag_input label {
	color:teal;
	font-weight: bold;
}

.bk-tooltip>div:not(:first-child) {
	display: none;
}

.custom_button button.bk-bs-btn.bk-bs-btn-default {
	background-color: lightblue;
	font-weight: bold;
	color:navy;
}

.notes_div>div {
	border:2px solid lightblue;
	border-radius:25px;
	padding:20px;
}
